form.signup,
form.login {
  margin-top: 50px;
}

body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background:#00551C;
  height:100%;
}

a{color:#00551C;
  text-decoration: none}

#infodisplay{
  background:#BDC2C5;
  height:100%
}

#jumbo{
    background-image: url(../images/mountain-pic.png);
    background-repeat: no-repeat;
    background-size: cover;
    display:flex;
}
#logo{
  margin-left:100px;
}
.log{
  display: flex;             
  align-items: flex-end;
}

h1 button{
  font-size: 100%;
  font-family:inherit;
  border:0;
  padding:0;
  background-color:transparent;
}

h1 button a:hover{
  text-decoration:none;
  color:#00551C;
}

/* #parksloader{
  margin: auto;
} */

.tripbar{
  text-align:right;
}
/*index
-more search inputs?
-view your trips
-style card displays
*/

/*park*/
/*campground*/
/*trips*/
/*members*/
/*signup*/
/*login*/